# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Project artifacts (Large files)
*.txt
*.pt
training_loss.png
plots/
checkpoints/
*.csv
!requirements.txt
!demo.md
